<app-navbar></app-navbar>
<div id="scene" class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div style="margin: auto;margin-top: 50px;justify-content: space-around;" class="row">
        <mat-card class="sidelogo">
          <img src="../././../assets/logo side.png" alt="logo">
        </mat-card>
        
        <mat-card class="example-card">
          <mat-card-subtitle>Welcome Back!</mat-card-subtitle>
          <mat-card-title style="margin-bottom: 30px;">Login Here</mat-card-title>
          <mat-card-content>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input name="username" #email="ngModel" [(ngModel)]="credentials.email" minlength="4" required
                  type="text" matInput>
                <mat-error *ngIf="!email.dirty && email.touched">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="!email.valid && email.dirty">
                  Email should contain <strong>@ and 4 characters</strong>
                </mat-error>
              </mat-form-field>

              <div id="passWrap">
                <mat-form-field id="password_field" style="margin-bottom: 20px;" class="full-width"
                  appearance="outline">

                  <mat-label>Password</mat-label>
                  <input name="password" #password="ngModel" [(ngModel)]="credentials.password" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$" [type]="showPass ? 'text' : 'password'"
                    matInput>

                  <button mat-icon-button matSuffix (click)="showPass = !showPass" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="showPass">
                    <mat-icon>{{showPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>

                  <mat-error *ngIf="!password.dirty && password.touched">
                    Password is <strong>required</strong>
                  </mat-error>

                  <mat-hint>
                    Minimum six characters, at least one uppercase letter, one lowercase letter and one number
                  </mat-hint>
                  <mat-error *ngIf="!password.valid && password.dirty">
                    Minimum six characters, at least one uppercase letter, one lowercase letter and one number
                  </mat-error>
                </mat-form-field>
                <!-- <mat-icon id="passEye" (click)="showHidePass()" style="margin-left: 8px; margin-bottom: 30px;"
                  aria-hidden="false">remove_red_eye</mat-icon> -->
              </div>


              <mat-divider inset></mat-divider>

              <button [disabled]="!loginForm.form.valid" style="margin-left: 10px; margin-top: 20px;" type="submit"
                mat-raised-button color="primary">Login</button>
              <button style="margin-left: 20px;" type="reset" mat-raised-button color="accent">Reset</button>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="/register">New user? Sign up here!!</button>
          </mat-card-actions>
          <mat-card-footer>
            <mat-progress-bar></mat-progress-bar>
          </mat-card-footer>
        </mat-card>

        <!-- {{loginForm.value | json}} -->
      </div>
    </div>
  </div>
</div>